@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  font-family: 'Nunito', sans-serif;
}

.h4:has(.faq-ans) {
  /* padding: 0.25rem 0.5rem; */
  background-color: #6c3c9d;
}

.bgVideo {
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -2;
}

.overlay {
  background-color: #020b0c;
  opacity: 0.6;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: -1;
}

.button-shadow {
  box-shadow: 0.25rem 0.25rem #6118d7;
  transition: all .15s linear 0s;
}

@layer utilities{
  .grad-text {
    background: linear-gradient(90deg,  #d37bff 0%, #8f4eff 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    width: fit-content;
    height: 110px;
  }
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.titled {
  text-shadow: 0 0 .5vw #6ac4c1, 0 0 1.5vw #6bc5d3, 0 0 5vw #66bac3, 0 0 5vw #6fb3c0, 0 0 .2vw #79bdc8, .5vw .5vw .1vw #2fb9be;
  color: #c1dfe1;
}

.platinum {
  text-shadow: 0 0 .5vw #a075ca, 0 0 1.5vw #a877d9, 0 0 5vw #9466c3, 0 0 5vw #986fc0, 0 0 .2vw #a179c8, .5vw .5vw .1vw #762fbe;
  color: #cdb1de;
}
.gold {
  text-shadow: 0 0 .5vw #dca841, 0 0 1.5vw #c19337, 0 0 5vw #c19337, 0 0 5vw #c19337, 0 0 .2vw #c19337, .5vw .5vw .1vw #9d7d3c;
  color: #d5c0a8;
}
.silver {
  text-shadow: 0 0 .5vw #8e8c8c, 0 0 1.5vw #8e8c8c, 0 0 5vw #8e8c8c, 0 0 5vw #8e8c8c, 0 0 .2vw #8e8c8c, .5vw .5vw .1vw #8e8c8c;
  color: #d5d5d7;
}
.bronze {
  text-shadow: 0 0 .5vw #9d461b, 0 0 1.5vw #9d461b, 0 0 5vw #9d461b, 0 0 5vw #9d461b, 0 0 .2vw #9d461b, .5vw .5vw .1vw #9d461b;
  color: #d8a687;
}
.kind {
  text-shadow: 0 0 .5vw #a26f91, 0 0 1.5vw #bf7ca8, 0 0 5vw #bf7ca8, 0 0 5vw #bf7ca8, 0 0 .2vw #bf7ca8, .5vw .5vw .1vw #6c3c9d;
  color: #c9c8cd;
}

.hide {
  height: 0px;
  overflow: hidden;
  transition: height ease 0.6s;
}


/* css for prizes border gradient */
#box{
  position: relative; 
margin-top: 1rem;
margin-bottom: 1rem; 
margin-top: 2.5rem; 
align-items: center; 
border-radius: 0.75rem; 
/* border-width: 8px;  */
width: 20rem; 
height: 20rem; 
}
.gradient-border {
  --borderWidth: 16px;
  background: #100028f1;
  position: relative;
  border-radius: var(--borderWidth);
}
.gradient-border:after {
  content: '';
  position: absolute;
  top: calc(-1 * var(--borderWidth));
  left: calc(-1 * var(--borderWidth));
  height: calc(100% + var(--borderWidth) * 2);
  width: calc(100% + var(--borderWidth) * 2);
  background: linear-gradient(60deg, #F765FF, #D700E6, #CC28FD, #B53CFE, #A44AFF, #8232EB,#4E0EB1);
  border-radius: calc(var(--borderWidth));
  z-index: -1;
  animation: animatedgradient 3s ease alternate infinite;
  background-size: 300% 300%;
}


@keyframes animatedgradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.shining-text {
  background: linear-gradient(90deg, #4e0eb1, #8232eb, #a44aff, #b53cfe, #cc28fd,  #d700e6, #f765ff, #d700e6, #cc28fd, #b53cfe, #a44aff, #8232eb, #4e0eb1);
  background-size: 200% 200%;
  color: transparent;
  background-clip: text;
  animation: shine 5s linear infinite;
}

@keyframes shine {
  0% {
    background-position: -100% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
  
}


/*  */

.list ul li{
  margin-bottom: 5px;
}

#devfolioButton{
  background-color:#3770FF !important;
}